.text-color {
  color: white;
}

@font-face {
	font-family: 'arista-light';
	src: url('/font/Arista-Pro-Light-trial.ttf');
  }
  
@font-face {
font-family: arista-bold;
src: url('/font/Arista-Pro-Bold-trial.ttf');
}




  