.text-color {
  color: white;
}

.fade-from-right {
	position: relative;
	opacity: 0;
	animation: fadeInAndMoveFromRight 5s forwards;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
  
@keyframes fadeInAndMoveFromRight {
	0% {
		opacity: 0;
		left: 10%;
	}
	100% {
		left: 0;
		opacity: 1; 
	}
}


  