.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.card-header {
    font-weight: bolder;
}

.form-label {
    font-weight: bold;
    font-size: 16px;
}

.link-primary {
    color: black !important;
    text-decoration: none;
}

.link-primary:not([href]):not([tabindex]),
.link-primary:hover {
    color: black !important;
    font-weight: bold; /* This will make the text bold when hovered */
    text-decoration: underline; /* Optional: Adds underline on hover */
    text-decoration-color: black !important;
  }

.signup-text {
    color: rgb(121, 34, 139);
}

.card {
    position: relative;
    width: 100%; /* Adjust the width as necessary */
    margin-top: 200px;
}

.form-control {
    width: 100%;
}