@font-face {
    font-family: 'arista-light';
	src: url('/font/Arista-Pro-Light-trial.ttf');
}

/* .background-photo-page {
    background-image: url('../../transparent-food.png');
    background-size: cover;
} */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    text-align: center; /* Centers the text for children */
    font-size:20px
}
  
.recipe-header {
    margin-top: 850px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: arista-light;
}

.name-of-recipe-temp {
    align-items: center;
    text-align: center;
    justify-content: center;
}

form {
    font-size: 20px;
    /* font-family: arista-light; */
    width: 100%; 
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box; 
}

.name-of-recipe {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: arista-light;
    font-size: 30px;
    
}

form input[type="text"],
form input[type="number"],
form select {
    font-family: sans-serif; 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.adding-buttons, .upload-recipes-submit-btn {
    font-family: sans-serif; 
    margin-top: 10px; 
    padding: 10px 20px; 
    border: 1px solid #ccc;
    background-color: #f8f8f8; 
    cursor: pointer; 
    border-radius: 4px; 
}

.adding-buttons:hover, .upload-recipes-submit-btn:hover {
    background-color: #e7e7e7; 
}
  
.submit-button {
    color: lightgreen !important;
    background-color: lightblue;
}